.footer {
    padding: 24px 0 31px;
    font-size: var(--font-size-medium-mini);
    line-height: 140%;
    color: var(--color-1);
    background-color: var(--bg-2);
    @include from-tablet {
        padding: 32px 0;
    }
}
.footer__inner {
    max-width: 982px;
    margin: 0 auto;
    padding: 0 16px;
    @include from-tablet {
        display: flex;
        padding: 0 16px 0 50px;
    }
}
.footer-cont {
    display: flex;
    flex-direction: column;
    max-width: 420px;
    @include from-fablet {
        max-width: 540px;
    }
    @include from-tablet {
        order: 2;
        width: 236px;
    }
    @include from-laptop {
        width: 264px;
    }
}
.footer__logo {
    display: inline-block;
    margin-bottom: 16px;
    &-icon {
        width: 116px;
        height: 99px;
        @include from-tablet {
            width: 101px;
            height: 86px;
        }
    }
    @include from-tablet {
        margin-bottom: 24px;
    }
    @include from-notebook {
        margin-bottom: 32px;
    }
}
.footer-btn {
    margin-top: 24px;
    width: 100%;
    max-width: 330px;
}
.footer-cont__wrap {
    margin-top: 24px;
    columns: 2;
    column-gap: 15px;
    @include from-fablet {
        display: flex;
        justify-content: space-between;
        columns: initial;
        column-gap: initial;
    }
    @include from-tablet {
        flex-direction: column;
    }
}
.footer-cont__wrap-title {
    color: var(--color-3);
}
.footer-cont__wrap-item {
    margin-bottom: 8px;
    @include from-tablet {
        margin-bottom: 16px;
        &:nth-child(1) {
            order: 3;
        }
        &:nth-child(2) {
            order: 1;
        }
        &:nth-child(3) {
            order: 2;
        }
    }
}
.footer__wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 420px;
    margin-top: 24px;
    @include from-fablet {
        max-width: 540px;
    }
    @include from-tablet {
        justify-content: initial;
        order: 1;
        flex: 1;
        max-width: initial;
    }
}
.footer-list {
    margin-bottom: 24px;
    & li:not(:last-child) {
        margin-bottom: 8px;
    }
}
.footer-list:nth-child(1) {
    width: 100%;
    @include from-fablet {
        width: initial;
    }
    @include from-tablet {
        width: 63%;
    }
}
.footer-list:nth-child(3) {
    width: 44%;
    @include from-fablet {
        width: 100%;
    }
}
.footer-list__link {
    &.link__nav_mb-24 {
        margin-top: 24px;
    }
}
.footer__text {
    margin-top: 16px;
    @include from-tablet {
        padding-right: 11%;
    }
}
.footer__copyright {
    margin-top: 16px;
}
