.about {
    padding: 0 0 22px;
    @include from-tablet {
        padding: 0 0 24px;
    }
    @include from-notebook {
        padding: 0 0 28px;
    }
    @include from-desktop {
        padding: 0 0 32px;
    }
}
.about__title {
    margin-bottom: 24px;
    @include from-laptop {
        margin-bottom: 28px;
    }
}
.about__image {
    width: 100%;
    height: 56vw;
    min-height: 203px;
    margin-bottom: 18px;
    object-fit: cover;
    @include from-notebook {
        height: 672px;
        margin-bottom: 28px;
    }
}
.about__link {
    display: inline-block;
    position: relative;
    margin: 16px 0 40px;
    padding-right: 13px;
    line-height: 150%;
    color: var(--btn-3);
    border-bottom: 1px solid var(--btn-3);
    transition: color .2s ease, border-color .2s ease;
    @include from-tablet {
        margin: 16px 0 55px;
    }
    @include from-laptop {
        margin: 18px 0 70px;
    }
    @include from-desktop {
        margin: 18px 0 98px;
    }
    .icon {
        position: absolute;
        content: "";
        top: 8px;
        right: 0;
        width: 10px;
        height: 10px;
        fill: var(--btn-3);
        transition: fill .2s ease;
    }
    @media (hover: hover) {
        &:hover {
            color: var(--btn-2);
            border-color: var(--btn-2);
        }
        &:hover .icon {
            fill: var(--btn-2);
        }
    }
}
.about__list {
    margin: -6px 0;
    @include from-tablet {
        display: flex;
        flex-wrap: wrap;
        margin: -10px 0;
        column-gap: 30px;
    }
    @include from-laptop {
        column-gap: 40px;
    }
    @include from-notebook {
        column-gap: 80px;
    }
    .about__text {
        padding: 6px 0;
        @include from-tablet {
            width: calc(50% - 15px);
            padding: 10px 0;
        }
        @include from-laptop {
            width: calc(50% - 20px);
        }
        @include from-notebook {
            width: calc(50% - 40px);
        }
    }
}
.about__wrap {
    margin: -10px 0;
    @include from-tablet {
        display: flex;
        flex-wrap: wrap;
        margin: -15px 0;
        column-gap: 30px;
    }
    @include from-laptop {
        column-gap: 40px;
    }
    @include from-notebook {
        column-gap: 80px;
    }
    .about__item {
        padding: 10px 0;
        @include from-tablet {
            width: calc(50% - 15px);
            padding: 15px 0;
        }
        @include from-laptop {
            width: calc(50% - 20px);
        }
        @include from-notebook {
            width: calc(50% - 40px);
        }
    }
    .about__item-title {
        margin-bottom: 18px;
        font-size: var(--font-size-medium-maxi);
        line-height: 140%;
        @include from-tablet {
            max-width: 220px;
            font-size: var(--font-size-large-mini);
        }
        @include from-laptop {
            font-size: var(--font-size-large);
        }
    }

}
.about__item-text {
    & + & {
        margin-top: 12px;
        @include from-tablet {
            margin-top: 20px;
        }
    }
}
